<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- CSS dependencies -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/menus.css' %}">
    <title>Menu Builder</title>
</head>
<body>
    <div class="container-fluid">
        <div class="green row navbar">
            <div class="col-6">
                <h1>Menu Builder Dashboard</h1>
            </div>
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/menus/welcome/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/menus/new">Add Menu</a>
                    </li>
                    <!-- Add back when this functionality is added -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Shareables</a>
                    </li> -->
                    <!-- Add back when this functionality is added -->
                    <!-- <li class="nav-item">
                        <a class="nav-link">Calendar</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/log_out">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="dashboard_how_tos">
            <h3>Dashboard How Tos</h3>
            <div class="card col-4">
                <div class="card-body">
                    <h5 class="card-title blue-w-padding">General Instructions:</h5>
                    <p class="card-text">Days are the building blocks of your menu. Add them to your menu frame to start planning!</p>
                    <p class="card-text">Menus are highly customizable. There is no limit to the number of days or recipes you can add.</p>
                    <p class="card-text"><button class="btn purple-background">Remove</button> permanently deletes an item. This action cannot be undone.</p>
                </div>
            </div>
            <div class="card col-4 offset-1">
                <div class="card-body">
                    <h5 class="card-title blue-w-padding">Adding a meal</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Meal</div>
                                Prefixes and color codes a recipe by meal type
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Recipe Name</div>
                                Displayed on dashboard and view page
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Recipe Link</div>
                                Accessible on home and view pages
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Recipe Type</div>
                                Categorizes recipes for future use
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="green row navbar"></div>
        <div class="row line"></div>
        <div class="row d-flex align-items-start justify-content-between" id="dashboard">
            <div class="col">
                <h1>{{ current_menu.menu_name }} </h1>
                <p>{{current_menu.note}}</p>
            </div>
            <div class="list-inline col">
                <div class="list-inline-item">
                    <p><a href="http://localhost:8000/menus/{{current_menu.id}}/" class="btn blue-background">Preview</a></p>
                </div>
                <div class="list-inline-item">
                    <p><a class="btn blue-background" href="http://localhost:8000/menus/edit/{{current_menu.id}}/">Edit Menu Frame</a></p>
                </div>
                <div class="list-inline-item">
                    <form action="http://localhost:8000/menus/day/create/{{current_menu.id}}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn blue-background">Add Day</button>
                    </form>
                </div>
            </div>
            <!-- For adding tag and functionality -->
            <!-- <button class="btn blue-background">Add Tag</button> -->
            <!-- <p> 
                Tags:
                {% for tag in current_menu.tags.all %}
                <span>{{ tag.tag_name }} </span>
                {% endfor %}
            </p> -->
        </div>
        <div class="row">
            {% for day in days %}
            <div class="col-3 card">
                <form action="http://localhost:8000/menus/{{day.menu.id}}/day/delete/{{day.id}}/" method="post" name="delete_recipe">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete This Day</button>
                </form>
                <!-- <p class="btn btn-danger">
                    <a href="http://localhost:8000/menus/{{day.menu.id}}/day/delete/{{day.id}}/">
                        Delete This Day
                    </a>
                </p> -->
                <p class="btn btn-secondary">
                    <a href="http://localhost:8000/recipes/new/{{current_menu.id}}/{{day.id}}/" >
                        Add Meal
                    </a>
                </p>
                {% for recipe in day.recipes.all %}
                    <!-- <p>{{recipe.title}}</p>
                    <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form> -->
                    {% for meal in recipe.meals.all %}
                        {% if meal.id == 1%}
                            <div class="row">
                                <div class="col">
                                    <p class="breakfast">B: {{recipe.title}}</p>
                                </div>
                                <div class="col">
                                    <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </form>
                                </div>
                            </div>
                        {% elif meal.id == 2%}
                            <p class="lunch">L: {{recipe.title}}</p>
                            <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        {% elif meal.id == 4%}
                            <p class="brunch">Br: {{recipe.title}}</p>
                            <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        {% elif meal.id == 5%}
                            <p class="dinner">D: {{recipe.title}}</p>
                            <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        {% elif meal.id == 6%}
                            <p class="tea">t: {{recipe.title}}</p>
                            <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        {% elif meal.id == 7%}
                            <p class="supper">Su: {{recipe.title}}</p>
                            <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        {% elif meal.id == 8%}
                            <p class="snack">sn: {{recipe.title}}</p>
                            <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        {% elif meal.id == 9%}
                            <p class="tapas">T: {{recipe.title}}</p>
                            <form action="http://localhost:8000/recipes/delete/{{current_menu.id}}/{{day.id}}/{{recipe.id}}/" method="post" name="delete_recipe">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>