.container-fluid {
    padding-bottom: 100px;
}

.row {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

.blue-background{
    background-color: #00AEAD;
    color: #FFFFFF;
    text-decoration: none;
}

.green-background {
    background-color: #72CC50;
    color: #FFFFFF;
    text-decoration: none;
}

.purple-background {
    background-color: #CC99FF;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.blue-w-padding{
    background-color: #00AEAD;
    color: #FFFFFF;
    padding: 30px;
}
.green{
    background-color: #72CC50;
    color: #FFFFFF;
    padding: 30px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 10px;
}

.form-spacing {
    padding-bottom: 10px;
}

.line {
    height: 1px;
    background-color: #CC99FF;
}

#dashboard_how_tos {
    margin-bottom: 40px;
}

#dashboard {
    min-height: 200px;
}

.day-card-header {
    background-color: #BFD834;
    /* background-color: #858e96; */
    min-height: 20px;
}

.recipe_link {
    text-decoration: none;
}

