.green {
    background-color: #72CC50;
    justify-content: center;
    color: #FFFFFF;
    min-height: 300px;
}

#index {
    padding-left: 100px;
}

h2

.line {
    height: 1px;
    background-color: #CC99FF;
    margin-bottom: 15px;
}

.blue-background{
    background-color: #00AEAD;
    color: #FFFFFF;
}

.row {
    padding-top: 35px;
    padding-bottom: 30px;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.form-spacing {
    padding-bottom: 10px;
}
